.container {}

.toolBoxContainer {
  height: 30px;
  box-shadow: 0 -3px 4px #00000029;
}

.colors {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 100%;
}

.color {
  display: flex;
  flex: 1;
  height: 100%;
  outline: none;
  border: 1px solid transparent;
  border-left-color: #ffffff;
  border-right-color: #ffffff;
  cursor: pointer;
}

.color:first-of-type {
  border-left-color: transparent;
}

.color:last-of-type {
  border-right-color: transparent;
}

.color.active {
  border: 3px solid #ffffff;
  border-radius: 5px;
}
