.chatBubble {
  width: 90%;
  display: flex;
  align-items: flex-end;
  transform-origin: 0 100%;
  padding-top: 0;
  /* max-height: 0; */
  overflow: visible;
  /* animation: message 0.15s ease-out 0s forwards; */
}

.chatBubbleL {
  flex-direction: row;
  text-align: right;
  align-self: flex-end;
  transform-origin: 100% 100%;
}

@keyframes message {
  0% {
    max-height: 100vmax;
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
    max-height: 100vmax;
    overflow: visible;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
  }
}

#embeddingsResult span {
  border: 3px solid var(--joy-palette-primary-500);
  border-radius: 8px;
  margin: 0px 1px 0px 1px;
  padding: 0px 4px 2px 3px;
  line-height: 2.3rem;
  cursor: pointer;
  font-size: 1.3rem,
}

#embeddingsResult span:hover {
  border: 3px solid var(--joy-palette-warning-400);
}