# Copy this file to .env and adjust values as needed
# Only variables prefixed with TL_ are exposed to the renderer via window.env
TL_FORCE_API_URL="false" # Set to "true" to always use TL_API_URL, and don't ask user for it
TL_API_URL="http://localhost:8338/"
MULTIUSER="false" # Set to "true" to enable multi-user features
