accelerate
aiofiles
aiosqlite
boto3
datasets==3.6.0
einops
evaluate
fastapi
packaging
psutil
python-multipart
python-dotenv
pydantic>= 2.0
nltk==3.9.1
scipy
sentencepiece
tensorboard
tiktoken
torch==2.8.0+rocm6.4
torchaudio==2.8.0+rocm6.4
torchvision==0.23.0+rocm6.4
transformers==4.57.1
peft
watchfiles
wandb==0.19.10
tensorboardX
werkzeug
workos
sqlalchemy[asyncio]
sentence-transformers
markitdown[all]
hf_xet
macmon-python
mcp[cli]
transformerlab-inference==0.2.51
transformerlab==0.0.48
diffusers==0.33.1
pyrsmi
controlnet_aux==0.0.10
timm==1.0.15
librosa==0.11.0
soundfile==0.13.1
alembic
fastapi-users[sqlalchemy,oauth]
httpx-oauth
