name: Publish

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest]

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v3

      - name: Install Node and NPM
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install and build
        run: |
          npm install
          npm run build

      - name: Extract version from package.json
        id: package-version
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "version=${VERSION}" >> $GITHUB_OUTPUT
        shell: bash

      - name: Zip and upload static web assets
        run: |
          cd release/cloud
          tar -czvf transformerlab_web_${{ steps.package-version.outputs.version }}.tar.gz .
          tar -czvf transformerlab_web.tar.gz .
          gh release upload ${{ github.ref_name }} transformerlab_web_${{ steps.package-version.outputs.version }}.tar.gz
          gh release upload --clobber ${{ github.ref_name }} transformerlab_web.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
