# This workflow will install Python dependencies and run tests

name: Pytest

on:
  push:
    branches: ["main"]
    paths:
      - "api/**"
  pull_request:
    branches: ["main"]
    paths:
      - "api/**"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api
    env:
      AUTH_CLIENT_ID: ${{ secrets.AUTH_CLIENT_ID }}
      AUTH_API_KEY: ${{ secrets.AUTH_API_KEY }}
      FRONTEND_URL: http://localhost:8338
      AUTH_SUCCESS_REDIRECT_URL: /
      AUTH_ERROR_REDIRECT_URL: /
      AUTH_LOGOUT_REDIRECT_URL: /
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install uv
          uv pip install --system pytest pytest-asyncio jsonschema requests pytest-cov shellcheck-py
          # Temporarily remove transformerlab from pyproject.toml to avoid installing unreleased version
          sed -i.bak '/^  "transformerlab==/d' pyproject.toml
          uv pip install --system .[cpu] --index=https://download.pytorch.org/whl/cpu --index-strategy unsafe-best-match
          mv pyproject.toml.bak pyproject.toml || true
      - name: Install lab-sdk in editable mode
        run: |
          cd ../lab-sdk
          uv pip install --system -e .
      - name: Test with pytest
        run: |
          pytest --cov=transformerlab --cov-branch --cov-report=xml -k 'not test_teams'
      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
